{% assign experiences = site.data.profile.experiences %}
{% if experiences %}
{% assign experiences_limit = site.data.profile.resume.experiences_limit | default: none %}
<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">{{ site.data.labels.experience | default: "Work Experience" }}</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
            {% for experience in experiences limit: experiences_limit %}
            <article class="resume-timeline-item position-relative pb-5">

                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                            {{ experience.role }}
                            {% if experience.subrole %}
                            <small class="text-muted">({{ experience.subrole }})</small>
                            {% endif %}
                        </h3>
                        <div class="resume-company-name ml-auto">
                            {% if experience.company.url %}
                            <a href="{{ experience.company.url }}">{{ experience.company.name }}</a>
                            {% else %}
                            {{ experience.company.name }}
                            {% endif %}
                        </div>
                    </div>
                    <!--//row-->
                    <div class="resume-position-time">{{ experience.time }}</div>
                </div>
                <!--//resume-timeline-item-header-->

                <div class="resume-timeline-item-desc">
                    {% assign highlights = experience.achievements.highlights %}
                    {% if highlights.size > 0 %}
                    <ul>
                        {% for highlight in highlights %}
                        <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <!--//resume-timeline-item-desc-->

            </article>
            <!--//resume-timeline-item-->
            {% endfor %}

            {% for experience in experiences limit: experiences_limit offset: continue %}
            {% if experience %}
            <div class="read-more">
                <a href="{{ site.baseurl }}{% link index.md %}">{{ site.data.labels.resume.read_more | default: "Experience for previous years — in a detailed CV..." }}</a>
            </div>
            {% break %}
            {% endif %}
            {% endfor %}

        </div>
        <!--//resume-timeline-->

    </div>
</section>
<!--//experience-section-->
{% endif %}

{%- assign technologies = experiences | map: 'technologies' | uniq | compact -%}
{% if technologies.size > 0 %}
<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">{{ site.data.labels.technologies | default: "Technologies used" }}</h2>
    <div class="resume-section-content">
        <ul class="list-inline">
            {% for technology in technologies %}
            <li class="list-inline-item">
                <span class="badge badge-primary badge-pill">{{ technology }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
