{% assign header = site.data.profile.header %}
<header class="resume-header pt-4 pt-md-0">
    <div class="media flex-column flex-md-row">
        <img class="mr-3 img-fluid picture mx-auto" src="assets/images/{{ header.avatar }}" alt="Profile image">
        <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
            <div class="primary-info">
                <h1 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">{{ site.author }}</h1>
                <div class="title mb-3">{{ site.tagline }}</div>
                <ul class="list-unstyled">
                    {% if header.phone %}
                    <li>
                        <a href="tel:{{ header.phone }}">
                            <i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>{{ header.phone }}
                        </a>
                    </li>
                    {% endif %}
                    {% if header.email %}
                    <li class="mb-2">
                        <a href="mailto:{{ header.email }}">
                            <i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>{{ header.email }}
                        </a>
                    </li>
                    {% endif %}
                    {% if header.telegram %}
                    <li class="mb-2 telegram">
                        <a href="https://{{ header.telegram }}.t.me">
                            <i class="fa fa-brands fa-telegram mr-2" data-fa-transform="grow-3"></i>Telegram
                        </a>
                    </li>
                    {% endif %}
                    {% if header.website %}
                    <li class="mb-2 website">
                        <a href="{{ header.website }}">
                            <i class="fa fa-globe mr-2" data-fa-transform="grow-3"></i>{{ header.website | remove: "http://" | | remove: "https://" }}
                        </a>
                    </li>
                    {% endif %}
                    {% if header.location %}
                    <li class="mb-2 location">
                        <i class="fa fa-solid fa-location-dot mr-2" data-fa-transform="grow-3"></i>{{ header.location }}
                        <!--<i class="fa fa-solid fa-house mr-2" data-fa-transform="grow-4"></i>{{ header.location }}-->
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--//primary-info-->
            <div class="secondary-info ml-md-auto mt-2">
                <ul class="resume-social list-unstyled">
                    {% if header.linkedin %}
                    <li class="mb-3">
                        <a href="https://linkedin.com/in/{{ header.linkedin }}">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-linkedin-in fa-fw"></i>
                            </span>
                            LinkedIn
                        </a>
                    </li>
                    {% endif %}
                    {% if header.habr %}
                    <li class="mb-3">
                        <a href="https://habr.com/ru/users/{{ header.habr }}/">
                            <span class="fa-container text-center mr-2">
                                <i class="fa fa-solid fa-square-h"></i>
                            </span>
                            Habr
                        </a>
                    </li>
                    {% endif %}
                    {% if header.github %}
                    <li class="mb-3">
                        <a href="https://github.com/{{ header.github }}">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-github-alt fa-fw"></i>
                            </span>
                            GitHub
                        </a>
                    </li>
                    {% endif %}
                    {% if header.gitlab %}
                    <li class="mb-3">
                        <a href="https://gitlab.com/{{ header.gitlab }}">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-gitlab fa-fw"></i>
                            </span>
                            GitLab
                        </a>
                    </li>
                    {% endif %}
                    {% if header.bitbucket %}
                    <li class="mb-3">
                        <a href="https://bitbucket.com/{{ header.bitbucket }}">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-bitbucket fa-fw"></i>
                            </span>
                            Bitbucket
                        </a>
                    </li>
                    {% endif %}
                    {% if header.stack-overflow %}
                    <li class="mb-3">
                        <a href="https://stackoverflow.com/users/{{ header.stack-overflow }}">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-stack-overflow fa-fw"></i>
                            </span>
                            StackOverflow
                        </a>
                    </li>
                    {% endif %}
                    {% if header.vk %}
                    <li class="mb-3">
                        <a href="https://vk.com/{{ header.vk }}/">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-brands fa-vk"></i>
                            </span>
                            VK
                        </a>
                    </li>
                    {% endif %}
                    {% if header.twitter %}
                    <li class="mb-3">
                        <a href="https://twitter.com/{{ header.twitter }}">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-twitter fa-fw"></i>
                            </span>
                            Twitter
                        </a>
                    </li>
                    {% endif %}
                    {% if header.instagram %}
                    <li class="mb-3">
                        <a href="https://instagram.com/{{ header.instagram }}/">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-instagram fa-fw"></i>
                            </span>
                            Instagram
                        </a>
                    </li>
                    {% endif %}
                    {% if header.500px %}
                    <li class="mb-3">
                        <a href="https://500px.com/p/{{ header.500px }}/">
                            <span class="fa-container text-center mr-2">
                                <i class="fab fa-brands fa-500px"></i>
                            </span>
                            500px.com
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--//secondary-info-->
        </div>
        <!--//media-body-->
    </div>
    <!--//media-->
</header>
