@media print {
  @page {
    size: A4;
  }

  body {
    font-size: 12pt;
  }

  .resume-wrapper {
    padding: 0px;

    .resume-header {
      height: auto;
      padding-left: 0px !important;
      margin-bottom: 1.5em;
      background-color: unset;

      .picture {
        width: 220px;
        @include border-radius(4px);
      }

      .media-body {
        margin-left: 0px !important;
        margin-right: 0px !important;
        padding-top: 0px !important;

        .primary-info {
          color: $theme-color-primary !important;

          ul {
            margin-top: 2em;
            position: unset;
          }
        }

        .secondary-info {
          display: none;
        }
      }

      .flex-column {
        flex-direction: unset !important;
        padding-bottom: 0px !important;
      }
    }

    .menu {
      a {
        display: none;
      }

      a.current-page {
        display: inline-block;
      }

      span:after {
        content: none;
      }
    }

    .resume-body {
      padding: 0px !important;

      .resume-section-title {
        margin-bottom: 0px !important;
      }

      .resume-section-title::after {
        display: none;
      }

      .resume-section-content {
        .resume-timeline {
          .resume-timeline-item {
            padding-bottom: 1rem !important;
          }
        }

        .resume-skill-item {
          display: list-item;
          margin-left: 1em;
          margin-bottom: 0.1em;

          h4 {
            display: inline-flex;
            margin-bottom: 0px;
          }

          h4::after {
            content: ":";
            font-weight: inherit;
            margin-right: 0.2em;
          }
        }
      }
    }

    .shadow-lg {
      box-shadow: none !important;
    }
  }

  .remove-container.container-block {
    display: none;
  }

  footer {
    display: none;
  }
}
