// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  body {
    padding: 0px;
  }

  .resume-body {
    padding: ($spacer * 1.5) !important;
  }

  .resume-wrapper {
    padding-top: 0px;

    .resume-header {
      height: auto;
      padding: 1.5rem !important;

      .picture {
        width: 320px;
      }

      .media-body {
        padding-bottom: 0px !important;

        .primary-info ul {
          margin-top: 1.5em;
        }

        .secondary-info {
          margin-top: 1.5em !important;
        }
      }
    }

    .resume-section-content {
      .resume-timeline {
        .resume-timeline-item {
          padding-bottom: 1.5rem !important;

          .resume-timeline-item-header {
            .flex-column {
              flex-direction: initial !important;
            }
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .primary-info {
    position: relative;
    ul {
      position: absolute;
      bottom: 0px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
